.layout__container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.layout__content {
  flex: 1 1 auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  min-width: 0;
  overflow: hidden;
}

.layout__page {
  overflow-x: hidden;
  flex: 1 1 auto;
  padding: 0px;
}

.layout__side-menu {
  height: 100%;
  flex: 0 0 200px;
  border-right: 1px solid #ccc;
  background: #eee;
}

.layout__navbar {
  flex: 0 0 55px;
  width: 100%;
  background: #987;
  webkit-user-select: none;
  user-select: none;
  height: 55px;
  width: 100%;
  background: #00a3ff;
  border-bottom: 5px solid #fde74c;
  background-image: url('/public/hero-bg-interior.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-origin: border-box;
  display: flex;
  align-items: center;
}

.layout__navbar__logo {
  background-image: url('/public/mojaloop-white.png');
  background-size: 141px 45px;
  width: 141px;
  height: 45px;
  margin-left: 10px;
  margin-top: 5px;
  float: left;
}

.layout__navbar__controls {
  flex: 0 0 auto;
}

.layout__navbar__home__link {
  margin-left: 20px;
  color: #fff;
  font-size: 17px;
  font-family: ubuntu;
  text-decoration: none;
  display: table-cell;
  padding-top: 20px;
  padding-left: 15px;
}

.layout__navbar__user {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
}

.layout__navbar__user__icon {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 30px;
  width: 30px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  margin: 0px 20px;
}

.layout__navbar__user__name {
  color: #fff;
  cursor: pointer;
}
